.contact-header {
  background: linear-gradient(
        rgba(31, 180, 255, 0.4),
        rgba(250, 250, 250, 0.6)
      ),
    url("../images/bgs/contact-bg-sm.jpg") no-repeat fixed right top;
  background-size: 185%;
  @media (min-width: $screen-xs-min) {
    background: linear-gradient(
          rgba(31, 180, 255, 0.4),
          rgba(250, 250, 250, 0.6)
        ),
    url("../images/bgs/contact-bg-lg.jpg") no-repeat fixed bottom;
    background-size: auto;
  }
}

.contact-form {
  width: 100%;
  @media (min-width: $screen-xs-min) {
  height: 400px;
  }

  h5 {
    background: white;
    bottom: -10px;
    display: inline-block;
    margin: -10px 0 0 5px;
    padding: 0 5px 0 3px;
    position: relative;
    text-align: left;
    // width: 50px;
  }

  input {
    margin-bottom: 17px;
  }
}

.contact-col {
  height: 225px;
}


#name, #email, #phone, #message {
  padding: 10px 5px;
  width: 100%;
  border: 1px solid $dark-blue;
}

#message {
  height: 200px;
}

#submit {
  border: 1px solid $dark-blue;
  background: $dark-blue;
  width: 100%;
  cursor: pointer;
  color: #FFF;
  font-size: $large;
  margin: 50px auto 10px auto;
  width: 100%;
  padding: 5px;
  @media (min-width: $screen-xs-min) {
  font-size: $med;
  width: 200px;
  }
}

#submit:hover {
  background: $light-blue;
}

#name:focus, #email:focus, #phone:focus, #message:focus {
  outline: none;
}
