.home-header {
  margin-top: 50px;
  background: url("../images/bgs/pano-bg1-sm.jpg") no-repeat fixed top;
  background-size: cover;
  height: 300px;
  text-align: center;
  z-index: 0;
  @media (min-width: $screen-xs-min) {
    background: url("../images/bgs/pano-bg1.jpg") no-repeat fixed top;
    height: 600px;
    margin-top: 80px;
    background-size: cover;
  }
  @media (min-width: $screen-sm-min) {
    background: url("../images/bgs/pano-bg1.jpg") no-repeat fixed center;
    margin-top: 100px;
    padding-top: 25px;
    background-size: cover;
  }
}

.homepage-header {
  @include vertical-bot;
  height: 80px;
}

.skill-icons {
  margin-top: 20px;
  div {
    text-align: center;
  }
  img {
    max-width: 145px;
    margin-bottom: 25px;
  }
}

.headshot {
  width: 100%;
  @media (min-width: $screen-sm-min) {
    width: auto;
  }
}

.skillz {
  opacity: 0;
  float: left;
  width: 50%;
}
